<header id="header">
  <h1 class="logo">
    <a class="link_profile" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/profile.jpg" alt="">
    </a>
    <a class="link_logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </h1>
  <strong class="txt_profile">I'm a UI Developer and Designer.</strong>
  <nav id="nav">
    <h2>메뉴</h2>
    <ul class="list_gnb">
      <li class="on"><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/project">Project</a></li>
    </ul>
  </nav>
  <ul class="list_sns">
    <li><a href="#" class="link_sns"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="link_sns"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#" class="link_sns"><i class="fa fa-github-alt"></i></a></li>
    <li><a href="#" class="link_sns"><i class="fa fa-envelope"></i></a></li>
  </ul>
</header>
