<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/images/favicon_m.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon_m.ico" type="image/x-icon">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="{{ "/js/sideBtn.js" | prepend: site.baseurl }}"></script>
    <script>
        $(document).ready(function() {
            var pathname = window.location.pathname,
                $list = $(".list_gnb a");

            $list.each(function(index) {
                if (pathname.toUpperCase().indexOf($(this).text().toUpperCase()) != -1){
                    $(this).parent().addClass('on').parent().siblings().removeClass('on');
                }
            });
        });
    </script>
</head>
