<header id="header">
    <div class="inner">
        <div class="cont">
            <h1 class="logo">
                <a class="link_logo" href="{{ site.baseurl }}/">
                    <span class="thumb_logo" href="{{ site.baseurl }}/"></span>
                    {{ site.title }}
                </a>
            </h1>
            <nav id="nav">
                <h2>navigation</h2>
                <ul class="list_nav">
                    <li>
                        <a href="{{ site.baseurl }}/about">About</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/project">Project</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
                    </li>
                    <!-- <li>
                        <a href="https://ssola129.github.io/" target="_blank">Blog</a>
                    </li> -->
                </ul>
            </nav>
            <div class="sns_intro">
                <a href="http://ssola129.github.io/" class="link" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i></a>
                <a href="https://github.com/ssola129" class="link" target="_blank"><i class="fa fa-github-alt"></i></a>
                <a href="https://www.facebook.com/ssola129" class="link" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/ssola129/" class="link" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="mailto:ssola129@gmail.com" class="link"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
</header>
