<header id="header">
    <h1 class="logo">
        <a class="link_profile" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/images/sr.png" alt="">
        </a>
        <a class="link_logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>
    <!-- <strong class="txt_profile">UI Developer</strong> -->
    <nav id="nav">
        <h2>메뉴</h2>
        <ul class="list_gnb">
            <li>
                <a href="{{ site.baseurl }}/about">About</a>
            </li>
            <!-- <li>
                <a href="{{ site.baseurl }}/project">Project</a>
            </li> -->
            <li>
                <a href="{{ site.baseurl }}/study">Study</a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            </li>
        </ul>
    </nav>
    <ul class="list_sns">
        <li><a href="https://www.facebook.com/ssola129" class="link_sns" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/ssola129/" class="link_sns" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://github.com/minsora" class="link_sns" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        <li><a href="mailto:ssola129@gmail.com" class="link_sns"><i class="fa fa-envelope"></i></a></li>
    </ul>
</header>
