$text-font-color : #444;
$text-font-family : 'Open Sans', Dotum, '돋움', AppleSDGothicNeo, sans-serif;
$wrapper-bg-color : #ECF0F1;
$header-width : 380px;
$header-width-md : $header-width - 50px;
$header-width-sm : $header-width - 110px;
$header-bg-color : #F8C957;
$header-font-color : rgba(255,255,255,0.9);
$header-font-point : 'Amatic SC', cursive;
$title-font-color : #3498DB;
$footer-bg-color : #34495E;
/*
$breakpoints: (
    'small': 320px,
    'medium': 601px,
    'large': 1001px
); */
