$text-font-color : #444;
$text-font-family : "Open Sans", "Malgun Gothic", "굴림", Gulim, AppleSDGothicNeo, sans-serif;
$wrapper-bg-color : #ECF0F1;
$header-width : 380px;
$header-width-md : $header-width - 50px;
$header-width-sm : $header-width - 110px;
$header-bg-color : #61a8ca;
$header-font-color : rgba(255,255,255,0.9);
$header-font-point : 'Source Sans Pro', cursive;
$title-font-color : #3498DB;
$footer-bg-color : #34495E;
