---
layout: default
---
<section class="cont_sub">
    <header class="top_post">
        <h3>{{ page.title }}</h3>
        <span class="txt_date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
    </header>

    <section class="cont_post">
        {{ content }}
    </section>

    <footer class="bottom_post">
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="float-left">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="float-right">Next post &rarr;</a> {% endif %}
    </footer>


</section>
