#container {
    position:relative;
    min-height:100%;
    margin-right:$header-width;

    .cont_top {

    }
    .cont_sub {
        overflow:hidden;
        padding:80px 8%;

        h2 {
            position:relative;
            margin-bottom:50px;
            font-weight:400;
            font-size:2.6rem;
            font-family:$header-font-point;
            color:$header-bg-color;
            letter-spacing:1px;
        }
        h3 {
            margin-bottom:20px;
            padding:0 0 10px;
            border-bottom:1px solid rgba(52,73,94,0.6);
            font-weight:500;
            font-size:1.4rem;
            color:rgba(52,73,94,0.8);
            opacity:0.8;
        }
        h4 {
            font-weight:600;
            font-size:1.2rem;
            color:#999;
        }
    }
}

@include respond-to(md, all) {
    #container {
        margin-right:$header-width-md;

        .cont_sub {
            h2 {
                font-size:2.6rem;
            }
        }
    }
}
@include respond-to(sm, all) {
    #container {
        margin-right:0;
        .cont_top {
            display:block;
            h2 {
                margin-left:15px;
            }
            .btn_nav {
                width:26px;
                margin-right:15px;
                .ico_nav {
                    height:2px;
                    margin:8px 0;
                }
                &::before,&::after {
                    height:2px;
                }
            }
        }
        .cont_sub {
            margin-top:53px;
            padding:30px 30px 50px;

            h2 {
                margin-bottom:25px;
                font-size:2.2rem;
                
                &::before {
                    left:7px;
                }
            }
        }
    }
}
