#container {
    position:relative;
    min-height:100%;
    margin-right:$header-width;

    .cont_top {

    }
    .cont_sub {
        overflow:hidden;
        padding:80px 8%;

        h2 {
            position:relative;
            margin-bottom:50px;
            font-weight:400;
            font-size:2.6rem;
            color:$title-font-color;

            &::before {
                content:'';
                position:absolute;
                left:11px;
                top:0px;
                width:4px;
                height:4px;
                background-color:$title-font-color;
                @include prefix(border-radius, 50%);
            }
        }
        h3 {
            margin-bottom:15px;
            padding:0 0 6px;
            border-bottom:1px solid $footer-bg-color;
            font-weight:600;
            font-size:1.4rem;
            color:$footer-bg-color;
        }
        h4 {
            font-weight:600;
            font-size:1.2rem;
            color:#999;
        }
    }
}

@include respond-to(md, all) {
    #container {
        margin-right:$header-width-md;

        .cont_sub {

            h2 {
                margin-bottom:30px;
                font-size:2.6rem;
            }
        }
    }
}
@include respond-to(sm, all) {
    #container {
        margin-right:0;
        .cont_top {
            display:block;
            h2 {
                margin-left:15px;
                .link_logo {
                    font-size:1.5rem;
                    img {
                        width:30px;
                        height:30px;
                    }
                }
            }
            .btn_nav {
                width:26px;
                margin-right:15px;
                .ico_nav {
                    height:3px;
                    margin:8px 0;
                }
                &::before,&::after {
                    height:3px;
                }
            }
        }
        .cont_sub {
            margin-top:53px;
            padding:30px 30px 50px;

            h2 {
                margin-bottom:25px;
                font-size:2rem;
                &::before {
                    left:7px;
                }
            }
            h3 {
                font-size:1.2rem;
            }
        }
    }
}
