#footer {
    position:fixed;
    left:0;
    bottom:0;
    z-index:100;
    width:100%;

    .txt_copyright {
        display:block;
        margin-right:$header-width;
        font-weight:100;
        font-size:0.8rem;
        line-height:45px;
        color:$wrapper-bg-color;
        background-color:$footer-bg-color;
        text-align:center;
    }
}

@include respond-to(md, all) {
    #footer {
        .txt_copyright {
            margin-right:$header-width-md;
        }
    }
}
@include respond-to(sm, all) {
    #footer {
        .txt_copyright {
            margin-right:0;
        }
    }
}
@include respond-to(m_lg, all) {
    #footer {
        .txt_copyright {
            font-size:0.6rem;
        }
    }
}
