#header {
    position:fixed;
    top:0;
    right:0;
    z-index:1000;
    width:$header-width;
    height:100%;
    background-color:$header-bg-color;
    text-align:center;

    .inner {
        display: table;
        width: 100%;
        height: 100%;

        .cont {
            display: table-cell;
            position: relative;
            z-index: 1;
            vertical-align: middle;
        }
    }

    h1 {
        font-size:1.6rem;

        .link_logo {
            display:inline-block;
            font-weight:300;
            font-family:$header-font-point;
            color:$header-font-color;
            letter-spacing:1px;

            &:hover {
                text-decoration:none;
            }

            .thumb_logo {
                display:block;
                width: 130px;
                height: 130px;
                margin:0 auto 20px;
                border-radius: 100%;
                @include thumb_msr;
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
        }
    }
    #nav {
        margin-top:40px;

        h2 {
            @include screen_out;
        }
        .list_nav {
            li {
                a {
                    display:block;
                    padding:12px 0;
                    font-weight:300;
                    font-size:1.1rem;
                    font-family:$header-font-point;
                    color:$header-font-color;
                    letter-spacing:1px;
                    border-bottom:1px solid rgba(255,255,255,0.3);
                    &:hover {
                        text-decoration:none;
                    }
                }
                &:first-child {
                    a {
                        border-top:1px solid rgba(255,255,255,0.3);
                    }
                }
                &:hover {
                    a {
                        background-color:rgba(255,255,255,0.1);
                    }
                }
                &.on {
                    a {
                        color:$header-bg-color;
                        border:0 none;
                        background-color:#fff;
                    }
                }
            }
        }
    }
    .sns_intro {
        width: 100%;
        margin-top:40px;
        padding-bottom: 30px;
        font-size: 0;

        .link {
            display: inline-block;
            margin: 0 6px;
            font-size: 1.0rem;
            color: #fff;
        }
    }
}

@include respond-to(md, all) {
    #header {
        width:$header-width-md;
    }
}
@include respond-to(sm, all) {
    #header {
        right:-($header-width-md);
        width:$header-width-md;
    }
}
@include respond-to(m_lg, all) {
    #header {
        right:-($header-width-sm);
        width:$header-width-sm;

        h1 {
            font-size:1.5rem;

            .link_logo {
                .thumb_logo {
                    width:100px;
                    height:100px;
                }
            }
        }
        #nav {
            margin-top:30px;

            .list_nav {
                li {
                    a {
                        padding:10px 0;
                    }
                }
            }
        }
        .sns_intro {
            margin-top:30px;
        }
    }
}
